body{
    background-color: #f5d9d5;
    font-family: "Nunito",sans-serif;
}
#mainNavbar .navbar-brand{
    color: rgb(173, 32, 43);
    font-size: 1.5REM;
    font-weight: 100;
}
#mainNavbar{
    font-weight: 1.5REM;
    font-size: 100;
}
#mainNavbar .nav-link{
    color: white;
}
#mainNavbar .nav-link:hover{
    color: rgb(173, 32, 43);
}
#heading span{
    color: rgb(173, 32, 43);
    text-align: end;
}
#heading h2{
    font-weight: 100;
    font-size: 38px;
}
.img-fluid{
    height: 28%;
    max-width: 3;
}